body{
    background:#A4B6FC;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:#B9D4FA;
}

.assignment img {
    width:200px;
    padding:2px;
    margin-right: 10px;
    border: 2px solid #A4B6FC;
}

h1{
    color:#F0CD7D;
    text-align:center;
}

a {
    text-decoration: none;
    color: #FFD4EA;
}

p {
    color: #fff;
}