/* Structure */
body {
    background-color: rgb(26, 25, 36);
}

p {
    padding-right: 50%;
}

/* Typography (fonts) */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

p {
    color: rgb(255, 243, 151);
}

a {
    text-decoration: none;
    color: white;
}