/* Structure */

body {
    margin: auto;
    width: 85%;
    background-image: url("images/background.jpg");
}

#main-header,
#assignments,
#project,
#main-footer {
    background-color: #a5aea1;
    padding: 20px;
    margin: 10px auto;
    color: #f0e9d8;
}

#main-header h1,
#main-content h2 {
    text-align: center;
    margin: 0px;
}

#main-header p {
    margin-left: 15%;
}

#main-content p {
    text-align: left;
}

.assignment {
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ddcea8;
}

.assignment img {
    border: 3px solid #f0e9d8;
    width: 90%;
}

#main-footer {
    margin: 10px 0px;
    text-align: center;
    padding: 5px;
}

/*Typography*/

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.assignment a {
    color: #585c3d;
    text-decoration: none;
}

/* Media Query */

@media only screen and (min-width: 700px) {

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    #main-header p {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .assignment {
        width: 30%;
    }
}