/* Structure */

/* Typography */

.special {
    background-color: pink;
    color: mediumorchid;
    padding: 5px;
    border: 3px dotted mediumslateblue;
    width: 10%;
    text-align: center;
}

#jasper {
    width: 20%;
}

.hide {
    visibility: hidden;
    /* Or do display: none; */
}

#button-show,
#button-hide {
    background-color: lightgoldenrodyellow;
    color:lightskyblue;
    border: 3px dashed lightsalmon;
}