/* Structure */

body {
    background-color: rgb(139, 202, 225);
}

/* Animation */

#sun {
    background-color: blanchedalmond;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: rgb(254, 238, 159) 0px 0px 100px;
    text-align: center;
    line-height: 100px;
    position: relative;  /* must be there for animation */
    left: 100px;
    margin-bottom: 250px;
}

.moving {
    animation-name: anim-sun;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes anim-sun {
    0% {
        background-color: blanchedalmond;
        top: 0px;
        left: 100px;
    }
    25% {
        background-color: green;
        top: 100px;
        left: 0px;
    }
    50% {
        background-color: blueviolet;
        top: 200px;
        left: 100px;
    }
    75% {
        background-color: aquamarine;
        top: 100px;
        left: 200px;
    }
    100% {
        background-color: blanchedalmond;
        top: 0px;
        left: 100px;
    }
}