/* Structure */

body {
    background-color: white;
}

#main-header {
    background-color: burlywood;
    margin: auto;
    width: 80%;
    padding: 5px;
}

#main-footer {
    margin: auto;
    width: 80%;
    padding: 5px;
    background-color: maroon;
}

#uofsc {
    font-weight: bolder;
}

/* Horizontal Navigation */

.horizontal-nav ul {
    padding-left: 0px;
}

.horizontal-nav li {
    list-style-type: none;
    margin: 5px;
}

.horizontal-nav a {
    text-decoration: none;
    color: rgb(119, 119, 160);
}

.horizontal-nav a:hover {
    color: rgb(188, 140, 148);
    font-weight: bolder;
}

/* User Navigation */

/* Main Navigation */

/* Typography */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

#main-footer,
#main-footer a {
    color: white;
}

#main-footer ul {
    padding-left: 1%;
}

#main-footer li {
    list-style-type: none;
}

#main-footer a {
    text-decoration: none;
}

/* Larger Resolution */

@media only screen and (min-width: 768px) {
    .horizontal-nav ul,
    .flex-container {
        display: flex;
    }

    #main-nav ul {
        justify-content: center;
    }

    .flex-container {
        justify-content: space-between;
    }

    .col1of2 {
        flex: 1;
    }
}