/* Structure */
body {
    background-color: rgb(255, 145, 61);
}

a,
p {
    font-size: 30px;
}

/* Tables */
table {
    border: 7px dotted rgb(43, 255, 0);
    border-collapse: collapse;
}

th {
    border: 6px double rgb(0, 60, 255);
    background-color: aquamarine;
}

td {
    border: 9px dashed rgb(255, 0, 247);
    background-color: brown;
}

/* Typography (fonts) */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

a,
p {
    text-decoration: none;
    color: rgb(255, 225, 0);
}