/* Structure */

body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}

/* Top Navigation */

#topnav {
    display: flex;
    justify-content:space-between;
    border-bottom: 2px solid rgb(228, 228, 228);
    background-color: white;
    padding-bottom: 10px;
    position: fixed;
    width: 97%;
}

#topnav a {
    text-decoration: none;
}

#search {
    padding-top: 5px;
}

#topnav input {
    padding: 12px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 30px;
    background-color: rgb(233, 233, 233);
    font-size: 10px;
    width: 120px;
    margin-left: 5px;
}

#logo {
    height: 30px;
    position: fixed;
    top: 13px;
    margin-left: 40%;
}

.icons {
    width: 20px;
    padding-top: 10px;
}

#nav-in-nav .icons {
    padding: 10px 20px;
    padding-top: 20px;
}

.hide {
    display: none;
}

#burger {
    width: 33px;
    height: 43px;
}

/* Main Content */

#main-content {
    padding-top: 70px;
    margin: auto;
    width: 30%;
}

#main-content h1 {
    text-align: center;
}

#main-content h3,
#main-content p {
    color: #6C6C6C;
}

#buttons {
    width: 80%;
}

label,
input {
    display: inline-block;
    
}

label {
    width: 100px;
    text-align: right;
    padding: 5px;
    justify-content: center;
}

input {
    width: 200px;
    background-color: #EFEFEF;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    padding: 5px;
}

input::placeholder {
    color: #BBBBBB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}

#buttons {
    margin: auto;
}

#buttons button {
    display: block;
    margin: 15px auto;
    background-color: #4F4F4F;
    color: white;
    border: none;
    font-size: larger;
    font-weight: bold;
    padding: 10px 20px;
}

/* Main Footer */

#main-footer {
    text-align: center;
}

a {
    text-decoration: underline transparent;
    color: black;
}

#main-footer a:hover {
    text-decoration: underline black;
}

/* Media Query */

@media only screen and (min-width: 780px) {
    #burger {
        display: none;
    }

    #topnav {
        width: 99%;
    }

    #nav-in-nav.hide {
        display: flex;
    }

    #logo {
        margin-left: 45%;
    }

    #topnav input {
        width: 170px;
    }

    .flex-container {
        display: flex;
        justify-content: space-evenly;
    }
}