/* Typography */

body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

/* Structure */

h1 {
    text-align: center;
}

body {
    margin: auto;
    width: 90%;
    background-color: #222222;    
}

.mov {
    background-color: #95A3B3;
    border-radius: 10px;
    box-shadow: #4B4E6D 7px 7px 0px;
    padding: 20px;
    margin: 20px 0px;
}

.mov ul {
    padding-left: 0px;
}

.mov li {
    list-style-type: none;
    padding: 5px 0px;
}

img {
    border: 3px solid white;
    width: 70%;
    height: auto;
    transition: transform .2s;
    display: block;
    margin: auto;
}
  
img:hover {
    transform: scale(1.5); 
}

/* Media Query */

@media only screen and (min-width: 800px) {
    .flex-container {
        display: flex;
    }

    body {
        width: 80%;
    }

    .mov {
        padding: 5px;
    }

    img {
        margin: 20px;
        width: 20%;
        height: auto;
    }
}