/* Structure */

body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}

/* Top Navigation */

#topnav {
    display: flex;
    justify-content:space-between;
    border-bottom: 2px solid rgb(228, 228, 228);
    background-color: white;
    padding-bottom: 10px;
    position: fixed;
    width: 97%;
}

#topnav a {
    text-decoration: none;
}

#search {
    padding-top: 5px;
}

#topnav input {
    padding: 12px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 30px;
    background-color: rgb(233, 233, 233);
    font-size: 10px;
    width: 120px;
    margin-left: 5px;
}

#logo {
    height: 30px;
    position: fixed;
    top: 13px;
    margin-left: 40%;
}

.icons {
    width: 20px;
    padding-top: 10px;
}

#nav-in-nav .icons {
    padding: 10px 20px;
    padding-top: 20px;
}

.hide {
    display: none;
}

#burger {
    width: 33px;
    height: 43px;
}

/* Main Content */

#main-content {
    padding-top: 70px;
}

#main-content h1 {
    text-align: center;
}

.posts {
    width: 60%;
    background-color: white;
    border: 1.5px solid #efefef;
    border-radius: 15px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.posts img {
    display: block;
    margin: auto;
}

.posts h3,
.posts p {
    padding-left: 25px;
    color: #6C6C6C;
    font-weight: 500;
}

.posts a {
    text-decoration: none;
    color: black;
}

.posts p {
    width: 87%;
}

/* Main Footer */

#main-footer {
    text-align: center;
}

#main-footer a {
    text-decoration: underline transparent;
    color: black;
}

#main-footer a:hover {
    text-decoration: underline black;
}

/* Media Query */

@media only screen and (min-width: 780px) {
    #burger {
        display: none;
    }

    #topnav {
        width: 99%;
    }

    #nav-in-nav.hide {
        display: flex;
    }

    #logo {
        margin-left: 45%;
    }

    #topnav input {
        width: 170px;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    .posts {
        width: 24%;
    }
}